* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #222;
  color: #ddd;

  display: grid;
  place-items: center;

  min-height: 100vh;
}

a {
  color: unset;
}

[v-cloak] {
  display: none;
}
